@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Favorite Song</a>.</p>
    <iframe width="560" height="315" src="https://youtu.be/_pofTMVY020" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p><button onclick="myMove()">Click Me</button></p>

<div id="animate">My animation will go here</div>
</div>
